<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>James's Page</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500" rel="stylesheet">
    <script src="../scripts/script.js"></script>
  </head>
  <body>
  	<div id="main-content">
  	  <div id="home-background-spacer"></div>
      <h2>Welcome to James Oguntebi's Site</h2>
      <div id="cards">
      	<a class="card" href="">
          <img src="../images/twentyfour.jpg" alt="Twenty-four game board" />
          <div>Twenty-four Game</div>
      	</a>
      	<a class="card" target="_blank" href="https://www.facebook.com/james.oguntebi">
          <img src="../images/facebook.png" alt="Facebook logo" />
          <div>Find me on Facebook</div>
      	</a>
      	<a class="card" target="_blank" href="https://www.linkedin.com/in/jamesoguntebi/">
          <img src="../images/linkedin.png" alt="Twitter logo" />
          <div>Find me on LinkedIn</div>
      	</a>
      	<a class="card" target="_blank" href="https://plus.google.com/+JamesOguntebi">
          <img src="../images/googleplus.png" alt="Google Plus logo" />
          <div>Find me on Google+</div>
      	</a>
      </div>
    </div>
  </body>
</html>