<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>James's 24 Game</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/twenty_four.css">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500" rel="stylesheet">
    <script src="../scripts/calculator.js"></script>
    <script src="../scripts/twenty_four.js"></script>
  </head>
  <body>
    <header>
      <div class="tabs">
        <div id="open_solver_button" tabindex="0">Solver</div>
        <div id="open_game_button" tabindex="0">Game</div>
      </div>
    </header>

    <div class="solver-container main-content">
      <div class="number-inputs">
        <input type="tel" maxlength="1" />
        <input type="tel" maxlength="1" />
        <input type="tel" maxlength="1" />
        <input type="tel" maxlength="1" />
      </div>

      <div class="solver-solutions-label">Solutions:</div>
      <div class="solver-solutions"></div>
    </div>

    <div class="game-container main-content">
      This is the game ui.
    </div>
  </body>
</html>

