.icon-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  height: 48px;
  outline: none;
  width: 48px;
}

.icon-button:focus,
.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}

header {
  background-image: url(../../images/twentyfour.jpg);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  background-size: 48px;
  align-items: center;
  background-color: #013256;
  display: flex;
  height: 64px;
  position: fixed;
  justify-content: center;
  top: 0;
  transition: box-shadow 0.218s linear;
  width: 100%;
  z-index: 1;
}

header.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.header-spacer {
  height: 64px;
}

.tabs {
  align-items: center;
  display: flex;
}

.tabs > div {
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 5px 20px;
  text-decoration: none;
  user-select: none;
}

.tabs > div:focus,
.tabs > div:hover {
  outline: none;
  text-decoration: underline;
}

.tabs > div:active {
  color: #ddd;
}

.tabs > div.selected {
  text-decoration: underline;
}

.tabs > div:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

#game_score {
  font-size: large;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#game_score.owning {
  color: #76ff03;
}

#game_score.trying {
  color: #ffff8d;
}

#game_score.struggling {
  color: #ffd740;
}

#game_score.sucking {
  color: #ff3d00;
}

body.solving .game-container,
body:not(.solving) .solver-container {
  display: none;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.number-inputs input {
  border: none;
  border-bottom: 1px solid black;
  font-family: Google Sans, sans-serif;
  font-size: 2rem;
  outline: none;
  text-align: center;
  width: 75px;
}

.number-inputs input:not(:last-child) {
  margin-right: 15px;
}

.solver-solutions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  max-width: 750px;
}

@media only screen and (max-width: 600px) {
  .solver-solutions {
    max-width: 450px;
  }
}

.solver-solutions > div {
  padding: 10px 20px;
  width: 110px;
}

.game-generator-input-container {
  height: 150px;
  position: relative;
  width: 80%;
  min-width: 300px;
  max-width: 800px;
}

#generate_text_button {
  background-image: url(../../images/generate_text.svg);
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.218s linear;
}

#generate_text_button.hidden {
  opacity: 0;
}

.game-generator-input {
  box-sizing: border-box;
  font-family: Google Sans, sans-serif;
  font-size: medium;
  height: 100%;
  resize: none;
  width: 100%;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  margin-top: 30px;
  max-width: 800px;
  user-select: none;
  width: 100%;
}

.game-grid > label {
  border: 1px dashed #eee;
  font-size: large;
  padding: 3px 0;
  text-align: center;
}

.game-grid > label:nth-child(-n+9) {
  border-bottom: 1px solid #ccc
}

.game-problem-sets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  max-width: 750px;
}

@media only screen and (max-width: 600px) {
  .game-problem-sets {
    max-width: 450px;
  }
}

.game-problem-sets > div {
  border: 1px dashed #eee;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roboto Mono, monospace;
  padding: 10px 20px;
  width: 150px;
}

.game-problem-sets > div:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.game-problem-sets > div:active {
  background-color: rgba(0, 0, 0, 0.12);
}

.game-problem-sets > div.correct {
  background-color: #bfc;
}

.game-problem-sets > div.incorrect {
  background-color: #fcc;
}

.game-problem-actions {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  opacity: 0;
  padding: 6px 15px;
  position: absolute;
  transform: translateY(20px);
  transition:
      opacity 0.218s ease-in-out,
      transform 0.218s ease-in-out;
  width: 184px;
}

.game-problem-actions.showing {
  opacity: 1;
  transform: translateY(0px);
}

#mark_correct_button {
  background-image: url(../../images/correct.svg);
}

#mark_incorrect_button {
  background-image: url(../../images/incorrect.svg);
}

#show_solutions_button {
  background-image: url(../../images/show_solutions.svg);
}

.game-problem-solutions {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 150px;
  opacity: 0;
  overflow-y: auto;
  padding: 10px 0;
  position: fixed;
  transform: translateY(100%);
  transition:
      opacity 0.218s ease-in-out,
      transform 0.218s ease-in-out;
  width: 100%;
}

.game-problem-solutions.showing {
  opacity: 1;
  transform: translateY(0);
}

.game-problem-solutions > div {
  padding: 10px 20px;
  width: 110px;
}
